.simply-countdown {
  display: flex;
  justify-content: center; /* biar sejajar di tengah */
  align-items: center;
  gap: 2px; /* jarak antar bulatan */
  font-family: "Arial", sans-serif;
  margin: auto;
  overflow: hidden;
  flex-wrap: nowrap; /* cegah pindah baris */
}

.simply-countdown > .simply-section {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pink);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  flex-direction: column;
}
